@import url('https://raw.githubusercontent.com/tonsky/FiraCode/fixed/distr/fira_code.css');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&family=Roboto+Mono&display=swap');
/*--------------------------------------------------------------------------
  Formatting for page & standard document content
/*--------------------------------------------------------------------------*/

:root {
    --fsdocs-text-color: #333;
    --fsdocs-pre-border-color: #444;
    --fsdocs-pre-border-color-top: #555;
    --fsdocs-pre-background-color: #222;
    --fsdocs-pre-color: #eee;
    --fsdocs-table-pre-background-color: #1f1f1f;
    --fsdocs-table-pre-color: #ccc;

    --fsdocs-code-strings-color: #00a69a;
    --fsdocs-code-printf-color: #e27d60;
    --fsdocs-code-escaped-color: #d18e77;
    --fsdocs-code-identifiers-color: var(--fsdocs-text-color);
    --fsdocs-code-module-color: #43AEC6;
    --fsdocs-code-reference-color: #6a8dd8;
    --fsdocs-code-value-color: #43AEC6;
    --fsdocs-code-interface-color: #43AEC6;
    --fsdocs-code-typearg-color: #43AEC6;
    --fsdocs-code-disposable-color: #329215;
    --fsdocs-code-property-color: #43AEC6;
    --fsdocs-code-punctuation-color: #ccc;
    --fsdocs-code-punctuation2-color: #eee;
    --fsdocs-code-function-color: #e27d60;
    --fsdocs-code-function2-color: #43AEC6;
    --fsdocs-code-activepattern-color: #00a69a;
    --fsdocs-code-unioncase-color: #00a69a;
    --fsdocs-code-enumeration-color: #00a69a;
    --fsdocs-code-keywords-color: #2248c4;
    --fsdocs-code-comment-color: #777;
    --fsdocs-code-operators-color: #e27d60;
    --fsdocs-code-numbers-color: #96C71D;
    --fsdocs-code-linenumbers-color: #aaa;
    --fsdocs-code-mutable-color: #997f0c;
    --fsdocs-code-inactive-color: #808080;
    --fsdocs-code-preprocessor-color: #e27d60;
    --fsdocs-code-fsioutput-color: #808080;
    --fsdocs-code-tooltip-color: #444;
}

.fsdocs-source-link img {
    -webkit-filter: grayscale(100%) brightness(1) invert(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(1) invert(1);
}
